:root {
  --pdoc-background: #282C34;
}
.pdoc {
  --text: white;
  --muted: whitesmoke;
  --link: var(--lightblue);
  --link-hover: white;
  --active: #555;
  --code: #232627;
  --accent: #232627;
  /* Actual theme colors */
  --lightblue: #61AFEF;
  --red: #E06C75;
  --green: #98C379;
  --dark: #282C34;
  --orange: #E5C07B;
  --purple: #B392F0;
  --blue: #9ECBFF;
  --silver: #ABB2BF;
}
